<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userServiceId" class="com.sunll.bean.postprocessor.UserServiceImpl" init-method="myInit" destroy-method="myDestroy"></bean>
    <bean class="com.sunll.bean.postprocessor.MyBeanPostProcessor"></bean>
    <!-- 从配置中可以看出，这个后处理bean作用于哪里，没有绑定....所以作用于所有bean！！！！
     怎么作用于某些、一个？  通过方法中的beanName来控制！！！！
     -->
</beans>