<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_day_04_crm:war exploded">
    <output-path>$PROJECT_DIR$/out/spring_day_04_explored</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_day_04_crm/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_day_04_crm" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="lib2" />
          <element id="library" level="project" name="Spring-3.2.18.RELEASE" />
          <element id="library" level="project" name="Struts 2-2.5.14.1" />
          <element id="library" level="project" name="Hibernate 3.6.10-3.6.10" />
          <element id="library" level="project" name="lib (2)" />
        </element>
      </element>
    </root>
  </artifact>
</component>